@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFF2F0;
    color: #FFFFFF;
    padding:0%;
    width: 1600px;
    margin:2px ;
    box-sizing: border-box;
}
.header_menu{
    margin: 5px;
    padding: 5px;
}
.main_menu{    
    position: absolute;
    right:10px;
}

li{
    display: inline-block;
    padding: 20px;
}
#header{
    text-align:center;
    padding-bottom: 30px;
    margin-top:50px ;
    text-transform: uppercase;
    background-color: #FE452A;
    color: #FFFFFF;
    border-radius:18px;
    font-size: 20px;
    text-shadow: 7px 7px 7px #6e6256;
    box-shadow: -20px 10px 20px  #6e6256;
}
#logo:hover{
    opacity: 0.8;

}

.aside_menu{
    position: absolute;
    width: 200px;
}
.left_menu_nav{
   position: absolute;
    display: block;
    margin-left:0px;
    width:100%;
 
}
.left_menu{
    
    color: #FFFFFf;
    font-size: 22px;
    background-color:#FE452A;
    border: 3px #FFFFFF;
    border-radius: 5px;
    width:180px;
    margin-bottom: 8px;
    box-shadow: -20px 10px 20px  #6e6256;
 }
 .left_menu:hover{
     opacity:0.7;
 }
 .left_menu:active{
     background-color: 6e6256;
     opacity: 0.3;
 }
.central_area{
    width: 100%;
    position: absolute;
    display:inline-block;
    margin-left: 260px;
    padding:10px;
}
h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #6e6256;
}
img{
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-left:70px;
    
}
.cars{
    width: 400px;
    height: 500px;
    display: inline-block;
    border:5px outset  ;
    border-radius: 7px;
    box-shadow: -20px 10px 20px  #6e6256;
    margin:15px;
   padding-top: 10px;
}
caption{
    margin: 3px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  th,
  td {
    padding: 6px 15px;
  }
  th {
    background: #6e6256;
    color: #fff;
    text-align: left;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
  }
  td:first-child {
    border-left: 1px solid #c6c9cc;
  }
  tr:nth-child(even) td {
    background: #eaeaed;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  .selector-for-some-widget {
  box-sizing: content-box;
}
p{
  letter-spacing: 3px;
  list-style-type: circle;
  color: #FE452A;
    text-shadow: 5px -5px 10px  #FE452A;
  outline:20px;
}
